---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "colors";
@import	"fonts";
@import "grid";	

//UNIVERSAL

body{
	background-color: $MainPageBackgroundColor;
}

header{
	margin-top: 1em;
}


//HEADER

.header-wrap{
	background-color: $HeaderWrapBackgroundColor;
	height: 6.8em;
	position: relative;
}

.site-header{
	background-color: $HeaderBackground;
	font-family: $HeaderFont;
	text-transform: uppercase;
	overflow: hidden;
	margin-top: 0.8em;
	position: absolute;
}

.title-wrap{
	float: left;
	overflow: hidden;
	padding: 1em;

}

.name{
	font-weight: $TitleFontWeight;
	font-size: $TitleFontSize;
	float: left;
	a{
		text-decoration: none;
		color: $HeaderFontColor;
	}
}

.label{
	font-family: $HeaderFont;
	font-weight: $TitleFontWeight;
	font-size: $TitleLabelFontSize;
	float: left;
	padding-left: 0.5em;
	padding-top: 0.3em;
	a{
		text-decoration: none;
		color: $TitleLabelFontColor;
	}
}

.trigger{
	float: right;
	padding: 1.5em 1em 1em 1em;
	a{
		text-decoration: none;
		color: $HeaderFontColor;
	}
}

.page-link{
	font-weight: $PageTitleFontWeight;
	font-size: $PageTitleFontSize;
	padding-right: 0.5em;

}

.page-link:hover{
	color: $HeaderHoverColor;
}

//PAGE

.whole-page{
	text-align: center;
}

.page-content{
	background-color: $PageContentBackgroundColor;
	color: $MainFontColor;
}

.post-header{
	color: $MainFontColor;
}

//LOGO

.logo{
	margin-top: 3em;
	width: 35em;
}

