
<footer class="footer-wrap">

  <div class="col col-12 site-footer">
    <div class="contact-list">	
	    	
	    	<li>
				<a href="https://dribbble.com/MustangScott" target="_blank">	
	    			<i class="fa fa-dribbble social-icon" aria-hidden="true"></i>
	    		</a>	
	    	</li>	
	
	    	<li>
	    		<a href="https://twitter.com/MustangScott" target="_blank">
	    			<i class="fa fa-twitter social-icon" aria-hidden="true"></i>
	    		</a>	
	    	</li>	
	    	
	    	<li>
	    		<a href="https://github.com/scottanderson5" target="_blank">
	    			<i class="fa fa-github social-icon" aria-hidden="true"></i>
	    		</a>	
	    	</li>	
	    	
	    	<li>
	    		<a href="https://www.instagram.com/scottanderson5/" target="_blank">
	    			<i class="fa fa-instagram social-icon" aria-hidden="true"></i>
	    		</a>	
	    	</li>	
	    	
	    	<li>
	    		<a href="mailto:scottandersonwebdesign@gmail.com?Subject=Hello%20" target="_blank">
	    			<i class="fa fa-envelope-o social-icon" aria-hidden="true"></i>
	    		</a>	
    		</li>	
    </div>
  </div>  


</footer>
