@import "colors";
@import	"fonts";
@import "grid";	

//About Page

.about-content{
	margin: 0 auto;
	text-align: left;
}

.about-content-intro{
	color: $AboutIntroFontHeader;
	font-family: $MainContentFont;
	font-size: 2em;
	margin: 0em 0em 1em 0em;
}

.about-content-main{

}





















