@import "colors";
@import	"fonts";
@import "grid";	

//About Page

.about-content{
	margin: 0 auto;
	text-align: left;
	width: 80%;

	@media (min-width: 600px){
		width: none;
	}
}

.about-content-intro{
	color: $AboutIntroFontHeader;
	font-family: $HeaderFont;
	font-size: 1.5em;
	margin: 0em 0em 1em 0em;

	@media (min-width: 600px){
		font-size: 1.8em;
	}

	@media (min-width: 900px){
		font-size: 2em;
	}
}

.about-content-main{
	font-family: $MainFont;
	color: $MainFontColor;
	font-size: 1.2em;
	padding: 0em 0em 1em 0em;
	overflow: hidden;

	a{
		color: $MainFontColor;
	}

	a:hover{
		color: $HeaderHoverColor;
	}
}

.skills-wrap-left{
	width: 40%;
	float: left;

	li{
		font-size: 0.8em;
	}

	@media (min-width: 600px){
		font-size: 1.2em;
	}
}

.skills-wrap-right{
	width: 60%;
	float: right;


	li{
		font-size: 0.8em;
	}

	@media (min-width: 600px){
		font-size: 1.2em;
	}

}





















