@import "colors";
@import	"fonts";
@import "grid";	

//About Page

.about-content{
	margin: 0 auto;
	text-align: left;
	width: 80%;

	@media (min-width: 600px){
		width: none;
	}
}

.about-content-intro{
	color: $AboutIntroFontHeader;
	font-family: $HeaderFont;
	font-size: 1.5em;
	margin: 0em 0em 1em 0em;

	@media (min-width: 600px){
		font-size: 1.8em;
	}

	@media (min-width: 900px){
		font-size: 2em;
	}
}

.about-content-main{
	font-family: $MainFont;
	color: $MainFontColor;
	font-size: 1em;
	padding: 0em 0em 1em 0em;
	overflow: hidden;

	a{
		color: $MainFontColor;
	}

	a:hover{
		color: $HeaderHoverColor;
	}

	@media (min-width: 900px){
		font-size: 1.2em;
	}
}

.about-content-wrap{
	overflow: hidden;
	margin: 0 auto;
	width: 80%;

	@media (min-width: 600px){
		width: none;
	}

}

%about-contentA{
	margin: 0 auto;
	text-align: left;
	width: 80%;

	@media (min-width: 600px){
		width: none;
	}
}

.about-contentA1{
	@extend %about-contentA;
	float: left;
	width: 45%;
}

.about-contentA2{
	@extend %about-contentA;
	float: right;
	width: 45%;
}

.skills-wrap-left{
	width: 50%;

	li{
		font-size: 0.8em;
		list-style-type: none;
	}

	@media (min-width: 600px){
		font-size: 1em;
		float: left;
	}

	@media (min-width: 1200px){
		font-size: 1.2em;
	}
}

.skills-wrap-right{
	width: 30%;

	li{
		font-size: 0.8em;
		list-style-type: none;
	}

	@media (min-width: 600px){
		font-size: 0.9em;
		float: left;
	}

	@media (min-width: 800px){
		font-size: 1em;
	}

	@media (min-width: 1200px){
		font-size: 1.2em;
	}

}

//Pictures

.work-rowB{
	margin: 0 auto 2em auto;
	padding: 0em 0em 1.5em 0em;
	overflow: hidden;
	margin-right: 0em;

}

.about-pictureA{
	overflow: hidden;
	width: 46%;
	float: left;
}

.about-pictureB{
	overflow: hidden;
	width: 47.42%;
	float: right;
}





















