@import "colors";
@import	"fonts";
@import "grid";	

//BLOG

.home{
	font-weight: $MainContentFontWeight;
	text-align: center;
	overflow: hidden;
}

.post-header{
	text-align: center;
}

.post-list{
	list-style-type: none;
	text-align: left;
	margin: 0 auto;

	a{
		text-decoration: none;
		color: $MainFontColor;
	}

	a:hover{
		color: $HeaderHoverColor;
	}

	h2{
		margin-bottom: 0.3em;
	}
}

.post-title{
	font-size: 2em;
	margin: 1em auto 1em auto;

	@media (min-width: 600px){
		font-size: $MainContentHeaderSize;
	}

}

.post-meta{
	font-size: $BlogDateSize;
	margin: 0.5em auto 0 auto;
	text-align: left;

	@media (min-width: 600px){
		margin: 0.5em auto 0 auto;
	}
}

.move-left{
	margin: 0.5em auto 0 1em;

	@media (min-width: 600px){
		margin: 0.5em auto 0 auto;
	}

}

.post-content{
	font-weight: $MainContentFontWeight;
	font-family: $MainFont;
	text-align: left;
	margin: 2em auto 0 auto;
	line-height: 1.4em;
	font-size: 1.2em;
	width: 90%;

	a{
		color: $MainFontColor;
	}

	a:hover{
		color: $HeaderHoverColor;
	}

	@media (min-width: 600px){
		width: none;
	}
}

.post-excerpt{
	p{
		font-family: $MainFont;
		width: 80%;
	}

	@media (min-width: 600px){
		p{
			width: 100%;
		}
	}
}

.rss-subscribe{
	a{
		color: $MainFontColor;
	}

	a:hover{ 
		color: $HeaderHoverColor;
	}	
}
