//Header

//$HeaderWrapBackgroundColor: #46806E;
$HeaderWrapBackgroundColor: #54BCEB;



$HeaderBackground: #323232;

$HeaderFontColor: #EEEBE8;


$TitleFontColor: #B90606;


//$TitleLabelFontColor: #FF6603;
$TitleLabelFontColor: #F8F7F3;







//Main

//$MainPageBackgroundColor: #F3EADE;
$MainPageBackgroundColor: #F8F7F3;



$MainFontColor: #282828;

$HeaderHoverColor: #54BCEB;



$HeaderHoverLineColor: #54BCEB;



//Page

$PageHeaderColor: #54BCEB;

$PageContentBackgroundColor: #F3EADE;

//About

$AboutIntroFontHeader: #323232;




//HomePage

$HomePageIntroFontColor: #54BCEB;

$HomePageSubIntroFontColor: #323232;




//Footer

$FooterWrapBackgroundColor: #54BCEB;

$FooterBackground: #323232;
$IconColor: #282828;




