//Header

//$HeaderWrapBackgroundColor: #46806E;
$HeaderWrapBackgroundColor: #54BCEB;



$HeaderBackground: #323232;

$HeaderFontColor: #EEEBE8;


$TitleFontColor: #B90606;


//$TitleLabelFontColor: #FF6603;
$TitleLabelFontColor:#EEEBE8;







//Main

//$MainPageBackgroundColor: #F3EADE;
//$MainPageBackgroundColor: #F8F7F3;
$MainPageBackgroundColor: #FFFFFF;



$MainFontColor: #282828;

$HeaderHoverColor: #B5E1ED;



$HeaderHoverLineColor: #54BCEB;



//Page

$PageHeaderColor: #323232;

$PageContentBackgroundColor: #F3EADE;

//About

$AboutIntroFontHeader: #54BCEB;




//HomePage

$HomePageIntroFontColor: #54BCEB;

$HomePageSubIntroFontColor: #323232;





//Footer

$FooterWrapBackgroundColor: #54BCEB;

$FooterBackground: #323232;
$IconColor: #282828;




