//Header

$HeaderBackground: #87714D;
$HeaderFontColor: #EEEBE8;

$HeaderWrapBackgroundColor: #46806E;

$TitleFontColor: #B90606;
$TitleLabelFontColor: #FF6603;

//Main

$MainPageBackgroundColor: #F3EADE;
$MainFontColor: #282828;

$HeaderHoverColor: #FF6603;

//Page

$PageContentBackgroundColor: #F3EADE;