
//Header

$HeaderFont: Fira Sans;
$TitleFontWeight: 600;
$TitleFontSize: 37px;

$TitleLabelFontSize: 28px;

//Page

$PageTitleFontWeight: 600;
$PageTitleFontSize: 24px;

$MainContentFont: Fira Sans;
$MainContentFontWeight: 400;

$MainContentHeaderSize: 65px;

$PageHeaderFontSize: 65px;
$PageHeaderFontWeight: 600;

//Blog

$BlogDateSize: 22px;

//About

$AboutIntroHeaderSize: 40px;
$AboutIntroDescriptionSize: 24px;

$AboutIntroHeaderFontWeight: 600;
$AboutIntroDescriptionFontWeight: 500;

