
//Header

$HeaderFont: Fira Sans;
$TitleFontWeight: 600;
$TitleFontSize: 35px;

$TitleLabelFontSize: 26px;

$PageTitleFontWeight: 600;
$PageTitleFontSize: 24px;

$MainContentFont: Fira Sans;
$MainContentFontWeight: 300;

