
//Header

$HeaderFont: 'roboto', Arial, sans-serif;
//$HeaderFont: Fira Sans;
$TitleFontWeight: 600;
$TitleFontSize: 37px;

$TitleLabelFontSize: 28px;

//Page

$PageTitleFontWeight: 600;
$PageTitleFontSize: 24px;

$MainContentFont: 'fira-sans', Arial, sans-serif;
//$MainContentFont: Fira Sans;
$MainContentFontWeight: 400;

$MainContentHeaderSize: 65px;

$PageHeaderFontSize: 65px;
$PageHeaderFontWeight: 700;

//HomePage

$HomePageIntroFontSize: 5.5em;
$HomePageIntroFontWeight: 800;
$HomePageSubIntroFontSize: 3.2em;
$HomePagePFontSize: 2em;


//Blog

$BlogDateSize: 22px;

//About

$AboutIntroHeaderSize: 40px;
$AboutIntroDescriptionSize: 24px;

$AboutIntroHeaderFontWeight: 650;
$AboutIntroDescriptionFontWeight: 500;

