@import "colors";
@import	"fonts";
@import "grid";	

//FOOTER

footer{
	margin-top: 2em;
	margin-bottom: 1em;
}

.footer-wrap{
	background-color: $FooterWrapBackgroundColor;
	height: 6.2em;
	position: relative;
}

.site-footer{
	background-color: $FooterBackground;
	font-family: $HeaderFont;
	text-transform: uppercase;
	overflow: hidden;
	margin-top: 0.8em;
	padding: 1em 0em 1em 0em;
	position: absolute;
	width: 100%;
}

.contact-list{
	margin-left: 3em;
	list-style-type: none;
	font-size: 2em;
	float: left;

	li{
		display: inline-block;
		margin: 0em 0.5em 0em 0em;
	}

}

.social-icon{
	color: white;
}


.social-icon:hover{
	color: $HeaderHoverColor;
}









