@import "colors";
@import	"fonts";
@import "grid";	

.gameon-small-intro{
	font-family: $MainFont;
	font-size: 1.2em;
	margin: 0 auto;
	text-align: left;

	a{
		color: $MainFontColor;
	}

	a:hover{
		color: $HeaderHoverColor;
	}
}

.about-text-wrap{
	overflow: hidden;
}

.about-text-left{
	float: left;
	width: 45%;

}

.about-pic-right{
	width: 55%;
	padding-top: 10%;
	overflow: hidden;
	float: right;
}

.foundations-pic-size{
	float: right;
	width: 70%;
}