@import "colors";
@import	"fonts";
@import "grid";	

.project-small-intro{
	font-family: $MainFont;
	font-size: 1.2em;
	margin: 0 auto;
	text-align: left;

	a{
		color: $MainFontColor;
	}

	a:hover{
		color: $HeaderHoverColor;
	}
}

.project-content-intro{
	color: $AboutIntroFontHeader;
	font-family: $HeaderFont;
	font-size: 1.5em;
	margin: 0.5em 0em 0.5em 0em;

	@media (min-width: 600px){
		font-size: 1.8em;
	}

	@media (min-width: 900px){
		font-size: 2em;
	}
}

.project-text-wrap{
	overflow: hidden;
}

.project-text-left{
	float: left;
	width: 45%;

}

.project-pic-right{
	width: 55%;
	padding-top: 10%;
	overflow: hidden;
	float: right;
}

.foundations-pic-size{
	float: right;
	width: 70%;
}

.project-text-top{
	width: 90%;
}


.project-text-bottom{
	padding: 0.2em 0em 1em 0em;
	
	a{
		margin-right: 1em;
		text-decoration: none;
	}
}

.project-pic-bottom{
	display: inline-block;
	width: 30%;
}











