@import "colors";
@import	"fonts";
@import "grid";	

//HEADER

header{
	margin-top: 1em;
}

.header-wrap{
	background-color: $HeaderWrapBackgroundColor;
	height: 5.9em;
	position: relative;

	@media (min-width: 600px){
		height: 6.28em;
	}

	@media (min-width: 900px){
		height: 6.78em;
	}
}

.site-header{
	background-color: $HeaderBackground;
	font-family: $HeaderFont;
	text-transform: uppercase;
	overflow: hidden;
	margin-top: 0.8em;
	position: absolute;
	width: 100%;
}

.title-wrap{
	float: left;
	overflow: hidden;
	padding: 1em;
	display: none;

	@media (min-width: 600px){
		display: block;
	}

}

.title-mobile{
	display: block;
	float: left;

	@media (min-width: 600px){
		display: none;
	}
}

.title-mobile-logo{
	width: 3.5em;
	padding: 0.4em 0em 0.1em 0em;
}

.name{
	font-weight: $TitleFontWeight;
	font-size: 2em;
	float: left;
	padding-top: 0em;
	a{
		text-decoration: none;
		color: $HeaderFontColor;
	}

	@media (min-width: 900px){
		font-size: $TitleFontSize;
	}
}

.label{
	font-family: $HeaderFont;
	font-weight: $TitleFontWeight;
	font-size: 1.2em;
	float: left;
	padding-left: 0.5em;
	padding-top: 0.5em;
	a{
		text-decoration: none;
		color: $TitleLabelFontColor;
	}

	@media (min-width: 900px){
		font-size: $TitleLabelFontSize;
		padding-top: 0.4em;
	}
}

.trigger{
	float: right;
	padding: 1.5em 1em 1em 1em;
	a{
		text-decoration: none;
		color: $HeaderFontColor;
	}

	@media (min-width: 600px){
		padding: 1.45em 1em 1em 1em;
	}

	@media (min-width: 900px){
		padding: 1.6em 1em 1em 1em;
	}
}

.page-link{
	font-weight: $PageTitleFontWeight;
	font-size: 1.2em;
	margin-right: 0.5em;

	@media (min-width: 600px){
		font-size: $PageTitleFontSize;
	}

}

.page-link:hover{
	color: $HeaderHoverColor;
}

