@import "colors";
@import	"fonts";
@import "grid";	

//Homepage

.homepage-introA{
	margin: 1em auto 0em 1em;
	text-align: left;

	@media (min-width: 600px){
		margin: 10em auto 0em auto;
	}
}

.hp-intro1{
	font-family: $HeaderFont;
	color: $HomePageIntroFontColor;
	font-size: 3em;
	font-weight: $HomePageIntroFontWeight;
	line-height: 1em;
	margin-bottom: 0.4em;
	margin-left: 10%;

	@media (min-width: 600px){
		font-size: 5em;
	}

	@media (min-width: 900px){
		font-size: $HomePageIntroFontSize;
	}

	@media (min-width: 1300px){
		font-size: 7em;
	}
}

%hp-intro2{
	font-family: $MainContentFont;
	color: $HomePageSubIntroFontColor;
	font-size: 2em;
	line-height: 1em;	
	padding: 0em 0em 0.5em 0em;

	@media (min-width: 600px){
		font-size: 2em;
		display: inline-block;
	}

	@media (min-width: 900px){
		font-size: $HomePageSubIntroFontSize;
	}

	@media (min-width: 1300px){
		font-size: 4em;
	}
}

.sub-intro-wrap{
	margin-left: 10%;
}

.hp-intro2a{
	@extend %hp-intro2;
	margin: 0em 0em 0em 0.09em;

	@media (min-width: 600px){
		margin: 0em;
	}
}

.hp-intro2b{
	@extend %hp-intro2;
	margin: 0em;

	@media (min-width: 600px){
		margin: 0em 0em 0em 0.1em;
	}
}

.hp-intro2c{
	@extend %hp-intro2;
	margin: 0em;

	@media (min-width: 600px){
		margin: 0em 0em 0em 0em;
	}

	@media (min-width: 1230px){
		margin: 0em 0em 0em 0.1em;
	}
}

.hp-intro3{
	font-size: $HomePagePFontSize;
	line-height: 1.1em;
}

.homepage-welcome{
	position: absolute;
	width: 100%;
}

.homeportfolio{
	position: relative;
}

//Fade In

@-webkit-keyframes fadeIn { 
	from { opacity: 0; } 
	to { opacity: 1; } 
}

@-moz-keyframes fadeIn { 
	from { opacity: 0; } 
	to { opacity: 1; } 
}

@keyframes fadeIn { 
	from { opacity: 0; } 
	to { opacity: 1; } 
}

@keyframes fadeOut{
	from {opacity: 1; }
	to { opacity: 0; }
}

.fade-in{
	opacity: 0;  
	-webkit-animation:fadeIn ease-in 1;  
	-moz-animation:fadeIn ease-in 1;
	 animation:fadeIn ease-in 1;

  	-webkit-animation-fill-mode:forwards;  
  	-moz-animation-fill-mode:forwards;
  	 animation-fill-mode:forwards;

  	-webkit-animation-duration:1s;
  	-moz-animation-duration:1s;
  	 animation-duration:1s;

}

.fade-out{
	opacity: 1;  
	-webkit-animation:fadeOut ease-in 1;  
	-moz-animation:fadeOut ease-in 1;
	 animation:fadeOut ease-in 1;

  	-webkit-animation-fill-mode:forwards;  
  	-moz-animation-fill-mode:forwards;
  	 animation-fill-mode:forwards;

  	-webkit-animation-duration:1s;
  	-moz-animation-duration:1s;
  	 animation-duration:1s;

  	-webkit-animation-delay: 4.2s;
  	-moz-animation-delay: 4.2s;
 	animation-delay: 4.2s;

}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.fade-in.three {
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.fade-in.four {
  -webkit-animation-delay: 5.2s;
  -moz-animation-delay: 5.2s;
  animation-delay: 5.2s;
}













