@import "colors";
@import	"fonts";
@import "grid";	

//WORK

.work-row{
	margin: 0 auto 2em auto;
	padding: 0em 0em 1.5em 0em;
	overflow: hidden;
	text-align: center;
}

.desaturate {
    filter: grayscale(100%); 
    -webkit-filter: grayscale(100%); 
    filter: url(/elements/grayscale.svg#desaturate); 
    filter: gray;  
    -webkit-filter: grayscale(1); 
    transition: 1s;
}

.desaturate:hover {
    filter: grayscale(0%);
    filter: none;
    -webkit-filter: grayscale(0); 
}


%work-picture{
	overflow: hidden;
	width: 46%;
}

.work-pictureA{
	@extend %work-picture;
	float: left;
}

.work-pictureB{
	@extend %work-picture;
	float: right;
}

.work-pictureC{
	@extend %work-picture;
	float: left;
}

.work-pictureD{
	@extend %work-picture;
	float: right;
}

.photoA{
	float: left;
	margin: 0 1em 0 1em;
	width: 98%;
	position: relative;	
}


.photoB{
	float: right;
	margin: 0 1em 0 1em;
	width: 98%;
	position: relative;
}


%description{
	position: absolute;
	font-size: 0.9em;
	color: white;
	//opacity: 0;
	//transition: 1s;
	width: 36%;

	@media (min-width: 600px){
		font-size: 1em;
		width: 30%;
	}

	@media (min-width: 900px){
		font-size: 1.2em;
	}

	@media (min-width: 1100px){
		font-size: 1.5em;
	}
}

.descriptionE{
	@extend %description;
	font-family: 'Noto Sans', sans-serif;
	padding-top: 21%;
	margin: 0em 0em 0em 2em;

	@media (min-width: 600px){
		padding-top: 15%;
		margin: 0em 0em 0em 0.5em;
	}
}


/*.descriptionE:hover{
	opacity: 1;
}*/

.descriptionF{
	@extend %description;
	font-family: 'Noto Sans', serif;
	padding-top: 19%;
	margin: 0em 0em 0em 1em;

	@media (min-width: 600px){
		margin: 0em;
		padding-top: 15%;
	}
}

/*.descriptionF:hover{
	opacity: 1;
}*/

.descriptionA{
	@extend %description;
	font-family: 'Noto Sans', Arial, sans-serif;
	padding-top: 21%;
	margin: 0em 0em 0em 2em;

	@media (min-width: 600px){
		padding-top: 15%;
		margin: 0em 0em 0em 0.5em;
	}
}

/*.descriptionA:hover{
	opacity: 1;
}*/

.descriptionB{
	@extend %description;
	font-family: 'Noto Sans', Arial, sans-serif;
	font-weight: 500;
	padding-top: 21%;
	margin: 0em 0em 0em 1em;

	@media (min-width: 600px){
		margin: 0em;
		padding-top: 15%;
	}
}

/*.descriptionB:hover{
	opacity: 1;
}*/

.descriptionC{
	@extend %description;
	font-family: 'Noto Sans', Arial, sans-serif;
	padding-top: 17%;
	margin: 0em 0em 0em 2em;

	@media (min-width: 600px){
		margin: 0em 0em 0em 0.5em;
		padding-top: 15%;
	}

	@media (min-width: 900px){
		padding-top: 15%;
	}	
}

/*.descriptionC:hover{
	opacity: 1;
}*/

.descriptionD{
	@extend %description;
	font-family: 'Noto Sans', Arial, sans-serif;
	font-weight: 500;
	padding-top: 21%;
	margin: 0em 0em 0em 1em;

	@media (min-width: 600px){
		margin: 0em;
		padding-top: 15%;
	}

	@media (min-width: 900px){
		padding-top: 15%;
	}
}

/*.descriptionD:hover{
	opacity: 1;
}*/

